body {
background-color: rgb(180, 132, 55);
}
h1 {
    font-weight: 400;
}
main
 {text-align: center;
font-size: medium;
}
img.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;

 }
 .pic-title {
    font-size: larger;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .contact-us {
font-family: Georgia, 'Times New Roman', Times, serif;
size: 15px;
 }